.Radio {
  text-align: center;
  border: 1px solid #f5ec2f;
  background-color: #f5ec2f;
  height: 600px;
  width: 500px;
  margin: 50px auto;
  box-shadow: 10px 10px 20px rgba(234, 231, 17, 0.2);
}

.Radio h1 {
  font-family: "Permanent Marker", cursive;
  color: #e9467a;
}
